<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Demo</title>
    <!--reset css-->
    <link rel="stylesheet" type="text/css" href="http://s8.pdim.gs/static/e901e096f0fbc3fe.css" />

    <link rel="stylesheet" type="text/css" href="index.css" />
  </head>
  <body>
   <div class="container"></div>
  
   <!--引入jquery-->
   <script src="https://s.h2.pdim.gs/static/4f3413d6aa6afffe.js"></script>

   <script src="index.js"></script>

   <script>
     Test.init();
   </script>
  </body>
</html>
